.content{
    position: absolute;
    left: 0;
    right: 0;
    min-height: 100%;
}

.bottom-control{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    background:rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.title-font{
    color: chartreuse;
    font-size: 50px;
}